<!DOCTYPE HTML>
<html lang="br" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Cadastro de Aluno</title>
<div th:replace="fragments/header :: header-css"></div>
<div th:replace="fragments/header :: header-js"></div>
</head>
<body class="hold-transition skin-purple sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Cadastrar Aluno</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
					<li class="active">Here</li>
				</ol>
			</section>

			<!-- Main content -->
				<form action="@{salvar_aluno}" id="formaluno" method="post"
					th:object="${aluno_obj}" class="form-horizontal">

						<div class="form-group">
							<label class="col-sm-2 control-label">Nome</label>

							<div class="col-sm-10">
								<input name="nome" th:field="*{nome}" id="nome"
									class="form-control" placeholder="Nome">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Matricula</label>

							<div class="col-sm-10">
								<input name="matricula" th:field="*{matricula}" id="matricula"
									class="form-control" placeholder="Matricula">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">CPF</label>

							<div class="col-sm-10">
								<input name="cpf" th:field="*{cpf}" id="cpf"
									class="form-control" placeholder="Cpf">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>

							<div class="col-sm-10">
								<input name="email" th:field="*{email}" id="email"
									class="form-control" placeholder="Email">
							</div>
						</div>

						<div class="box-footer">
							<button class="btn btn-info pull-right" type="submit">Cadastrar</button>
						</div>

						<!-- /.box-footer -->
				</form>

			<!-- /.content -->
		</div>
	<table class="striped">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nome</th>
				<th>email</th>
				<th>Editar</th>
				<th>Excluir</th>
			</tr>
		</thead>

		<tr th:each="aluno : ${alunos}">

			<td th:text="${aluno.id}"></td>
			<td th:text="${aluno.nome}"></td>
			<td th:text="${aluno.matricula}"></td>
			<td th:text="${aluno.cpf}"></td>
			<td th:text="${aluno.email}"></td>
			<td><a
				th:href="@{/alterar_aluno/{id_aluno}(id_aluno=${aluno.id})}">
					Editar </a></td>
			<td><a
				th:href="@{/deletar_aluno/{id_aluno}(id_aluno=${aluno.id})}">
					Excluir </a></td>
		</tr>

	</table>

		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/sidebar :: sidebar-control"></div>
	</div>
</body>
</html>